.custom-container {
  margin-left: 20px;
  margin-right: 20px;
}
.title {
  color: #bfc4c9;
  margin-top: 20px;
}

.popular-movies .main-container {
  display: flex;
  align-items: center;
  position: relative;
}

.popular-movies .carousel-container {
  width: 100%;
  padding: 20px 0;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.popular-movies .carousel-container::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
}
.popular-movies .carousel-container::-webkit-scrollbar-thumb {
  background-color: rgba(191, 196, 201, 0.2);
  border-radius: 20px;
}

.popular-movies .carousel-container .carousel {
  display: flex;
  flex-wrap: nowrap;
}
.popular-movies .carousel-container .carousel .movie {
  width: 20%;
  transition: 450ms;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  min-width: 20%;
  margin-left: 20px;
}

.popular-movies .carousel-container .carousel .movie:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.popular-movies .carousel-container .carousel .movie img {
  width: 100%;
  vertical-align: top;
}
@media (min-width: 820px) and (max-width: 1024px) /* /tablets landscape/*/ {
}

@media (min-width: 480px) and (max-width: 819px) /* /tablets/ */ {
  .poster {
    height: 30vh !important;
  }
}

@media (min-width: 200px) and (max-width: 480px) /*celulares*/ {
  .poster {
    height: 20vh !important;
  }
}
